note-*
*-draft
*.draft.js
*.url
*.lnk
*.tar.gz
*.code-workspace
empty_def.user.js
gm.user.js
dev
pnpm-lock.yaml
package-lock.json
**/.eslintrc.yaml

# 2023-08-24
__pycache__
_debug_*
.history
node_modules
/packages/**/*.user.js
