.env
*-draft
*.code-workspace
*.draft.js
*.lnk
*.tar.gz
*.url
**/.eslintrc.yaml
dev
empty_def.user.js
gm.user.js
note-*
package-lock.json
pnpm-lock.yaml

# 2023-08-24
__pycache__
_debug_*
.history
/packages-lib/**/dist
/packages/**/*.user.js
dist-lib/lib-empty
dist-lib/lib-empty.*
node_modules
