@use "mz-base"

=clearfix
  &::after
    clear: both
    content: " "
    display: table

=ltr-property($property, $spacing, $right: true)
  $normal: if(sass($right): "right"; else: "left")
  $opposite: if(sass($right): "left"; else: "right")
  @if mz-base.$rtl
    #{$property}-#{$opposite}: $spacing
  @else
    #{$property}-#{$normal}: $spacing
