.is-flex {
  display: flex;
}

.is-align-center {
  align-items: center;
}

.is-justify-evenly {
  justify-content: space-evenly;
}

.is-clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.pagebar {

  a:focus,
  a:hover,
  a:active {
    outline: none;
    color: #ff6f61;
    text-decoration: none;
  }
}
