---
import Layout from "@/layouts/Layout.astro";
import Card from "@/components/Card.astro";
import { config } from "@/config";

import { getCollection } from "astro:content";
const allPost = (await getCollection("gm_md")).sort(config.func.sortPosts);
// const posts = allPost.slice(0, config.opt.postsSize);
---

<Layout title={config.site.title} description={config.site.description}>
  <main>
    <h1>各种 <span class="text-gradient">GM_脚本</span></h1>
    <p class="instructions">
      Git repo: <a href="https://github.com/wdssmq/userscript" target="_blank" title="wdssmq/userscript: 各种猴子脚本">https://github.com/wdssmq/userscript</a>
    </p>
    <ul role="list" class="link-card-grid">
      {
        allPost.map((post) => (
          <Card
            links={{
              gitUrl: post.data.gitUrl,
              gitUrlRaw: post.data.gitUrlRaw,
              cdnUrl: post.data.cdnUrl,
              docUrl: post.data.docUrl,
            }}
            title={post.data.title}
            body={post.data.description}
          />
        ))
      }
    </ul>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 1024px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(
      rgba(var(--accent-dark), 66%),
      rgba(var(--accent-dark), 33%)
    );
    padding: 1.5rem;
    border-radius: 8px;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 0;
  }
</style>
