.mz-button
    &.small
        font-size: 0.8em
        padding-left: 0.55em
        padding-right: 0.55em

    &.is-info
        background-color: #3e8ed0
        border-color: transparent
        color: #fff

        &:hover, &.hover
            background-color: #1496ed
