.SubMenu a.mz-about-btn
  float: right
  margin-left: 12px
  padding: 0 1em
  text-decoration: none

.mz-about-wrap
  border: 2px solid #e9e9e9
  padding: 14px
  background: #fff
  transition: all .2s ease

.mz-about-panel
  p
    margin: 0 0 .6rem

  hr
    border: none
    height: 2px
    background: #e9e9e9
    margin: .8rem 0
    visibility: visible

.mz-about-hidden
  display: none
